[Unit]
Description=LeonidBot Telegram Bot Service
After=network.target

[Service]
User=deploy
Group=devs
WorkingDirectory=%E{LEONIDBOT_WORKDIR}
EnvironmentFile=%E{LEONIDBOT_WORKDIR}/.env
Environment=PATH=%E{LEONIDBOT_VENV}/bin
ExecStart=%E{LEONIDBOT_VENV}/bin/python -m bot.main

Restart=on-failure
RestartSec=3s
UMask=0002
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
