[Unit]
Description=Intelligent Data Platform Web Service (FastAPI)
After=network.target

[Service]
User=deploy
Group=devs
WorkingDirectory=%E{PROJECT_DIR}
EnvironmentFile=%E{PROJECT_DIR}/.env
Environment=PATH=%E{PROJECT_VENV}/bin
Environment=PYTHONUNBUFFERED=1
Environment=UVICORN_LOG_LEVEL=debug
Environment=PYTHONASYNCIODEBUG=1
ExecStart=%E{PROJECT_VENV}/bin/uvicorn web:app --host 0.0.0.0 --port 5800 --lifespan=on --log-level debug

Restart=on-failure
RestartSec=3s
UMask=0002
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
