[Unit]
Description=LeonidBot Web Service (FastAPI)
After=network.target

[Service]
WorkingDirectory=${LEONIDBOT_WORKDIR}
Environment="PATH=${LEONIDBOT_VENV}/bin"
EnvironmentFile=${LEONIDBOT_WORKDIR}/.env
ExecStart=${LEONIDBOT_VENV}/bin/uvicorn web:app --host 0.0.0.0 --port 5800
Restart=always

[Install]
WantedBy=multi-user.target
