[Unit]
Description=LeonidBot Telegram Bot Service
After=network.target

[Service]
WorkingDirectory=${LEONIDBOT_WORKDIR}
Environment="PATH=${LEONIDBOT_VENV}/bin"
EnvironmentFile=${LEONIDBOT_WORKDIR}/.env
ExecStart=${LEONIDBOT_VENV}/bin/python -m bot.main
Restart=always

[Install]
WantedBy=multi-user.target
