{% extends "layout.html" %}
{% block title %}Регистрация{% endblock %}
{% block content %}
  <div class="ui-layout">
    <h2>Регистрация</h2>
    <form class="ui-form" method="post" action="/auth/register">
      <label>Username</label>
      <input type="text" name="username" required>
      <label>Password</label>
      <input type="password" name="password" required>
      <label>Email</label>
      <input type="email" name="email">
      <label>Phone</label>
      <input type="text" name="phone">
      <button type="submit" class="button">Создать</button>
    </form>
  </div>
{% endblock %}
