<h1>Редактирование профиля</h1>
<form id="profile-edit-form" class="ui-form" method="post">
    <label for="first_name">Имя</label>
    <input id="first_name" name="first_name" value="{{ user.first_name or '' }}">
    <label for="last_name">Фамилия</label>
    <input id="last_name" name="last_name" value="{{ user.last_name or '' }}">
    <label for="username">Username</label>
    <input id="username" name="username" value="{{ user.username or '' }}">
    <label for="birth_date">Дата рождения</label>
    <input id="birth_date" type="date" name="birth_date" value="{{ user.birth_date or '' }}">
    <button type="submit">Сохранить</button>
</form>
