[Unit]
Description=intDataBot Telegram Bot Service
After=network.target

[Service]
User=deploy
Group=devs
WorkingDirectory=%E{PROJECT_DIR}
EnvironmentFile=%E{PROJECT_DIR}/.env
Environment=PATH=%E{PROJECT_VENV}/bin
ExecStart=%E{PROJECT_VENV}/bin/python -m bot.main

Restart=on-failure
RestartSec=3s
UMask=0002
StandardOutput=journal
StandardError=inherit

[Install]
WantedBy=multi-user.target
